
<footer>
  <symbols dir="app/icon"/>
    <a href="https://greyhive.com/">
      <img width="100" height="100" src="/img/gh_logo.png">
    </a>
       <div class="d-flex flex-row justify-content-center">
            <a href="https://www.linkedin.com/company/greyhive/"><img src="img/In-White-40.png" alt="Click to visit linkedIn"></a>
            <a href="https://x.com/greyhive"><img class="footer-svg" src="img/x.svg" alt="Click to visit X"></a>
            <a href="https://www.instagram.com/greyhive/"><img class="footer-svg" src="img/2_Home_Online_Training-Instagram_Fill.svg" alt="Click to visit Instagram"></a>
        </div>
</footer>
